@import url('default.css');

.headerOne { 
    position: relative;
    background: linear-gradient(90deg,#ec8d68d0, #5d34afce ,#0f0b52c4);
    padding: 80px 10% 0px 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-size: 150% 100%;
    animation: moveBackground 5s linear infinite;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/bg-grupoPescar.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}

.container-text {
    padding: 8%;
}

.container-text h1 {
    font-family: 'Raleway', sans-serif;
    font-size: var(--fontT);
    color: white;
    font-weight: 500;
    line-height: 55px;
}

.container-text h1 strong {
    font-style: italic;
    font-weight: 800;
}

.container-text p {
    font-family: 'Raleway', sans-serif;
    margin-top: 20px;
    color: white;
    font-size: var(--fontS);
}

.search {
    background: white;
    padding: 20px 20px 0px 20px;
}

.mentor img, .mentee img{
    height: 60px;
}

.card-mentoring {
    padding: 60px 7%;
}


.section-before-cards {
    height: 100vh; /* Ajusta la altura según tus necesidades */
}

@keyframes moveBackground {
    0% {
        background-position: 100% 50%;
    }
    50% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

@media (max-width: 1150px) {
    .container-text {
        padding: 8% 2%;
    }
}